# Ironhack_week5_project: Anime Recommendation Database 2020

Import the necessary libraries:

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import time
from datetime import date
from datetime import datetime
from datetime import timedelta

Visualize the database "anime.csv"

In [2]:
data = pd.read_csv('data/anime.csv')
display(data.head(2))

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0

I want to drop all the last columns Score- because there columns are already from aggregations that I will not need now. I will also drop the column japanese_name because it´s not informative.

In [3]:
data1 = data[data.columns.drop(list(data.filter(regex='Score-')))]
data1=data1.drop(['Japanese name'], axis=1)

display(data1.head(1))
data1.shape

,MAL_ID,Name,Score,Genres,English name,Type,Episodes,Aired,Premiered,Producers,...,Rating,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Bandai Visual,...,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678,329800

(17562, 24)

I will reset the index:

In [4]:
data1.reset_index(drop=True)
data1.head(1)

,MAL_ID,Name,Score,Genres,English name,Type,Episodes,Aired,Premiered,Producers,...,Rating,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Bandai Visual,...,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678,329800

I will uniform the column-titles.

In [5]:
new_header = []
def change_titels(df):
    for i in df.columns:
        x = i.lower().replace(' ','_')
        new_header.append(x)
    df.columns = new_header
    display(df.head(2))
    
change_titels(data1)

,mal_id,name,score,genres,english_name,type,episodes,aired,premiered,producers,...,rating,ranked,popularity,members,favorites,watching,completed,on-hold,dropped,plan_to_watch
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Bandai Visual,...,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678,329800
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,Movie,1,"Sep 1, 2001",Unknown,"Sunrise, Bandai Visual",...,R - 17+ (violence & profanity),159.0,518,273145,1174,4143,208333,1935,770,57964

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mal_id         17562 non-null  int64
 1   name           17562 non-null  object
 2   score          17562 non-null  object
 3   genres         17562 non-null  object
 4   english_name   17562 non-null  object
 5   type           17562 non-null  object
 6   episodes       17562 non-null  object
 7   aired          17562 non-null  object
 8   premiered      17562 non-null  object
 9   producers      17562 non-null  object
 10  licensors      17562 non-null  object
 11  studios        17562 non-null  object
 12  source         17562 non-null  object
 13  duration       17562 non-null  object
 14  rating         17562 non-null  object
 15  ranked         17562 non-null  object
 16  popularity     17562 non-null  int64
 17  members        17562 non-null  int64
 18  favorites      17562 non-null  int64
 19  watching       17562 non-null  int64
 20  completed      17562 non-null  int64
 21  on-hold        17562 non-null  int64
 22  dropped        17562 non-null  int64
 23  plan_to_watch  17562 non-null  int64
dtypes: int64(9), object(15)
memory usage: 3.2+ MB

In [7]:
#remember to convert score,episodes,duration,rating,ranked as numerical if needed.

In [8]:
data1['episodes'].unique()
#data1['episodes'].isna().sum()
data1['episodes'][11]

'Unknown'

In [9]:
#Thake out 'Unknown' before converting in numerical

In [10]:
data1.drop(data1[data1['episodes'] == 'Unknown'].index, inplace = True)
data1 = pd.DataFrame(data=data1)
data1['episodes'].unique()

array(['26', '1', '52', '145', '24', '74', '220', '178', '12', '22', '69',
       '25', '4', '94', '5', '3', '13', '23', '43', '6', '50', '47', '51',
       '49', '39', '8', '7', '75', '62', '14', '44', '45', '64', '101',
       '27', '161', '2', '153', '70', '78', '42', '11', '167', '150',
       '366', '9', '16', '38', '48', '10', '76', '40', '20', '37', '41',
       '112', '224', '180', '296', '358', '63', '276', '46', '54', '15',
       '21', '35', '124', '86', '102', '36', '67', '291', '110', '29',
       '55', '201', '142', '109', '34', '136', '32', '73', '114', '19',
       '195', '58', '155', '96', '103', '113', '104', '192', '191', '203',
       '56', '500', '80', '172', '65', '117', '28', '61', '30', '148',
       '128', '100', '17', '243', '92', '105', '79', '31', '1787', '53',
       '33', '130', '18', '97', '193', '115', '170', '66', '330', '108',
       '68', '119', '95', '137', '60', '77', '72', '127', '99', '373',
       '300', '163', '91', '88', '154', '156', '694', '87', '225', '164',
       '215', '59', '182', '305', '365', '1471', '331', '175', '143',
       '200', '510', '151', '1428', '84', '726', '140', '83', '3057',
       '147', '1006', '425', '85', '260', '526', '1818', '258', '398',
       '431', '312', '263', '237', '214', '93', '132', '162', '90', '240',
       '283', '773', '199', '1274', '1565', '71', '125', '131', '139',
       '475', '1306', '89', '744', '120', '146', '122', '135', '160'],
      dtype=object)

In [11]:
data1['episodes'] = pd.to_numeric(data1['episodes'])
data1.dtypes

mal_id            int64
name             object
score            object
genres           object
english_name     object
type             object
episodes          int64
aired            object
premiered        object
producers        object
licensors        object
studios          object
source           object
duration         object
rating           object
ranked           object
popularity        int64
members           int64
favorites         int64
watching          int64
completed         int64
on-hold           int64
dropped           int64
plan_to_watch     int64
dtype: object

Check for NaN values.

In [12]:
data1.isna().sum()

mal_id           0
name             0
score            0
genres           0
english_name     0
type             0
episodes         0
aired            0
premiered        0
producers        0
licensors        0
studios          0
source           0
duration         0
rating           0
ranked           0
popularity       0
members          0
favorites        0
watching         0
completed        0
on-hold          0
dropped          0
plan_to_watch    0
dtype: int64

There are no NaN values in data1.

# CLEAN

First I will plit the column "generes" in three columns that includes the first 5 genres listed.

In [13]:
data1['genres'].value_counts()

Hentai                                                 937
Music                                                  781
Comedy                                                 651
Kids                                                   395
Kids, Music                                            230
                                                      ...
Action, Martial Arts, Shounen, Supernatural              1
Adventure, Comedy, Game, Sports                          1
Adventure, Comedy, Demons, Historical, Supernatural      1
Action, Mecha, Military, Music, Sci-Fi, Space            1
Martial Arts, Fantasy                                    1
Name: genres, Length: 4949, dtype: int64

In [14]:
data1.head(2)

,mal_id,name,score,genres,english_name,type,episodes,aired,premiered,producers,...,rating,ranked,popularity,members,favorites,watching,completed,on-hold,dropped,plan_to_watch
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Bandai Visual,...,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678,329800
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,Movie,1,"Sep 1, 2001",Unknown,"Sunrise, Bandai Visual",...,R - 17+ (violence & profanity),159.0,518,273145,1174,4143,208333,1935,770,57964

In [15]:
# new data frame with split value columns
new = data1["genres"].str.split(",", n = -1, expand = True)
# making separate first name column from new data frame
data1['genres1']= new[0]
# making separate last name column from new data frame
data1["genres2"]= new[1]
data1["genres3"]= new[3]
data1["genres4"]= new[4]
data1["genres5"]= new[5]
data1=data1.drop(['genres'], axis=1)

Now I will clean "rating": I will leave only the abbreviaion R, PG-13, G, Rx

In [16]:
data1.head(2)
list(data1.columns)
data1['rating'].unique()
data1['rating'].value_counts()

PG-13 - Teens 13 or older         6040
G - All Ages                      5658
PG - Children                     1421
Rx - Hentai                       1306
R - 17+ (violence & profanity)    1140
R+ - Mild Nudity                   991
Unknown                            490
Name: rating, dtype: int64

In [17]:
#drop Unknown

In [18]:
data1.drop(data1[data1['rating'] == 'Unknown'].index, inplace = True)
data1 = pd.DataFrame(data=data1)
data1['rating'].unique()

array(['R - 17+ (violence & profanity)', 'PG-13 - Teens 13 or older',
       'PG - Children', 'R+ - Mild Nudity', 'G - All Ages', 'Rx - Hentai'],
      dtype=object)

In [19]:
#'1,2,3,4,5'.split(',')[0]

In [20]:
#data1.rating.apply(lambda x: x.split(' -'))

In [21]:
data1['rating_clean'] = data1['rating'].apply(lambda x: x.split(' -')[0])

In [22]:
data1=data1.drop(['rating'], axis=1)

In [23]:
data1.head(2)
data1.shape

(16556, 28)

In [24]:
data1.columns

Index(['mal_id', 'name', 'score', 'english_name', 'type', 'episodes', 'aired',
       'premiered', 'producers', 'licensors', 'studios', 'source', 'duration',
       'ranked', 'popularity', 'members', 'favorites', 'watching', 'completed',
       'on-hold', 'dropped', 'plan_to_watch', 'genres1', 'genres2', 'genres3',
       'genres4', 'genres5', 'rating_clean'],
      dtype='object')

Check the othe columns:

In [25]:
data1['licensors'].value_counts() # too many drop the column

Unknown                                        12637
Funimation                                       868
Sentai Filmworks                                 651
Media Blasters                                   206
Discotek Media                                   194
                                               ...
Discotek Media, Bandai Visual USA                  1
Nozomi Entertainment, Kadokawa Pictures USA        1
Brain's Base, Discotek Media                       1
Sentai Filmworks, Crunchyroll                      1
iQIYI                                              1
Name: licensors, Length: 230, dtype: int64

In [26]:
#drop licensors
data1=data1.drop(['licensors'], axis=1)
data1.columns

Index(['mal_id', 'name', 'score', 'english_name', 'type', 'episodes', 'aired',
       'premiered', 'producers', 'studios', 'source', 'duration', 'ranked',
       'popularity', 'members', 'favorites', 'watching', 'completed',
       'on-hold', 'dropped', 'plan_to_watch', 'genres1', 'genres2', 'genres3',
       'genres4', 'genres5', 'rating_clean'],
      dtype='object')

In [27]:
data1['producers'].value_counts()/data1.shape[0]*100 #drop column

Unknown                                         43.078038
NHK                                              3.660304
Pink Pineapple                                   1.093259
Sanrio                                           0.936216
Bandai Visual                                    0.700652
                                                  ...
TV Asahi, Dynamic Planning                       0.006040
TAKI Corporation                                 0.006040
SamBakZa                                         0.006040
Pony Canyon, TBS, Movic, Flex Comix              0.006040
flying DOG, Sound Team Don Juan, Twin Engine     0.006040
Name: producers, Length: 3686, dtype: float64

In [28]:
data1=data1.drop(['producers'], axis=1)
data1.columns

Index(['mal_id', 'name', 'score', 'english_name', 'type', 'episodes', 'aired',
       'premiered', 'studios', 'source', 'duration', 'ranked', 'popularity',
       'members', 'favorites', 'watching', 'completed', 'on-hold', 'dropped',
       'plan_to_watch', 'genres1', 'genres2', 'genres3', 'genres4', 'genres5',
       'rating_clean'],
      dtype='object')

In [29]:
data1['source'].value_counts()/data1.shape[0]*100 #keep columns, drop rows that correspond to the Uknown

Original         29.813965
Manga            21.992027
Unknown          20.294757
Visual novel      5.846823
Game              4.801885
Light novel       4.294516
Other             3.309978
Novel             2.712008
Music             1.878473
4-koma manga      1.685190
Web manga         1.401305
Picture book      0.809374
Book              0.652331
Card game         0.350326
Digital manga     0.084561
Radio             0.072481
Name: source, dtype: float64

In [30]:
data1['studios'].value_counts()/data1.shape[0]*100 #Keep Unknown

Unknown                                 39.822421
Toei Animation                           4.342836
Sunrise                                  2.832810
J.C.Staff                                2.065716
Madhouse                                 1.944914
                                          ...
Production I.G, OLM                      0.006040
Barnum Studio, SILVER LINK., Connect     0.006040
SILVER LINK., Nexus                      0.006040
Lerche, 10Gauge                          0.006040
Studio Kafka                             0.006040
Name: studios, Length: 1037, dtype: float64

In [31]:
data1.source

0        Original
1        Original
2           Manga
3        Original
4           Manga
           ...
17533       Manga
17538       Other
17539       Manga
17549       Manga
17552    Original
Name: source, Length: 16556, dtype: object

def clean_U(value):
       
    if value == 'Unknown':
        return np.NAN # We are returning NaNs so that we can replace them with means later
    else:
        return value

data_clean = data1.copy()

for col in data_clean.columns:
    data_clean[col] = data_clean[col].apply(clean_U)
    
data_clean.isna().sum()/data_clean.shape[0]*100

#Now we drop the NAN rowa

data_clean.dropna(inplace=True)

data_clean[['source']]

In [32]:
#This way is to drop rows having Unknown w/o transforming them in NaN
def clean_U(value):
       
    if value == 'Unknown':
        return 'Todrop'  # We are returning a string so that we can replace them with means later
    else:
        return value

data_U_clean = data1.copy()

for col in data_U_clean.columns:
    data_U_clean[col] = data_U_clean[col].apply(clean_U)
data_U_clean.source.value_counts()

Original         4936
Manga            3641
Todrop           3360
Visual novel      968
Game              795
Light novel       711
Other             548
Novel             449
Music             311
4-koma manga      279
Web manga         232
Picture book      134
Book              108
Card game          58
Digital manga      14
Radio              12
Name: source, dtype: int64

In [33]:
#I will now drop all the columns that have had Unknown as value. 
data_U_clean2 = data_U_clean.copy()
for col in data_U_clean.columns:
    data_U_clean2 = data_U_clean2[data_U_clean2[col] != 'Todrop']

display(data_U_clean2.source.value_counts())
data_U_clean2.shape

Manga            938
Original         527
Light novel      298
Game             144
Visual novel     110
Novel             91
4-koma manga      84
Web manga         60
Other             52
Card game         22
Book              18
Music              8
Digital manga      5
Picture book       3
Name: source, dtype: int64

(2360, 26)

In [34]:
#NaN still only in the geners and will drop later when I make them numerical
data_U_clean2.isna().sum()/data_U_clean.shape[0]*100

mal_id            0.000000
name              0.000000
score             0.000000
english_name      0.000000
type              0.000000
episodes          0.000000
aired             0.000000
premiered         0.000000
studios           0.000000
source            0.000000
duration          0.000000
ranked            0.000000
popularity        0.000000
members           0.000000
favorites         0.000000
watching          0.000000
completed         0.000000
on-hold           0.000000
dropped           0.000000
plan_to_watch     0.000000
genres1           0.000000
genres2           0.416767
genres3           5.031409
genres4           8.673593
genres5          11.645325
rating_clean      0.000000
dtype: float64

I will check if I still have other Unknown values columns

In [35]:
data_U_clean2.isin(['Unknown'])
data_U_clean2[data_U_clean2.isin(['Unknown'])].empty

False

To end I will check the type and change it if necessary.

In [36]:
data_U_clean2.premiered.value_counts()

Fall 2016      63
Spring 2016    45
Spring 2017    44
Fall 2015      44
Winter 2018    43
               ..
Winter 1986     1
Winter 1963     1
Spring 1972     1
Fall 1968       1
Winter 1977     1
Name: premiered, Length: 190, dtype: int64

In [37]:
data_U_clean2.dtypes

mal_id            int64
name             object
score            object
english_name     object
type             object
episodes          int64
aired            object
premiered        object
studios          object
source           object
duration         object
ranked           object
popularity        int64
members           int64
favorites         int64
watching          int64
completed         int64
on-hold           int64
dropped           int64
plan_to_watch     int64
genres1          object
genres2          object
genres3          object
genres4          object
genres5          object
rating_clean     object
dtype: object

The column premiered can be made numeric dropping the season.

In [38]:
data_U_clean2.premiered

0        Spring 1998
2        Spring 1998
3        Summer 2002
4          Fall 2004
6        Spring 2005
            ...
17066      Fall 2020
17126    Winter 2021
17165    Winter 2021
17173    Winter 2021
17469    Winter 2021
Name: premiered, Length: 2360, dtype: object

In [39]:
data_U_clean2['premiered'] = data_U_clean2['premiered'].apply(lambda x: x.split(' ')[1])

In [40]:
data_U_clean2[['premiered']]
#rename

data_U_clean2.columns

Index(['mal_id', 'name', 'score', 'english_name', 'type', 'episodes', 'aired',
       'premiered', 'studios', 'source', 'duration', 'ranked', 'popularity',
       'members', 'favorites', 'watching', 'completed', 'on-hold', 'dropped',
       'plan_to_watch', 'genres1', 'genres2', 'genres3', 'genres4', 'genres5',
       'rating_clean'],
      dtype='object')

The columns score, ranked, premiered can be made numerical

In [41]:
data_U_clean2['score'] = pd.to_numeric(data_U_clean2['score'])
data_U_clean2['ranked'] = pd.to_numeric(data_U_clean2['ranked'])
data_U_clean2['premiered'] = pd.to_numeric(data_U_clean2['premiered'])
data_U_clean2.dtypes

mal_id             int64
name              object
score            float64
english_name      object
type              object
episodes           int64
aired             object
premiered          int64
studios           object
source            object
duration          object
ranked           float64
popularity         int64
members            int64
favorites          int64
watching           int64
completed          int64
on-hold            int64
dropped            int64
plan_to_watch      int64
genres1           object
genres2           object
genres3           object
genres4           object
genres5           object
rating_clean      object
dtype: object

Ad the end I will drop columns that I will not need for the moment like: english_name.

In [42]:
data_U_clean2=data_U_clean2.drop(['english_name'], axis=1)

In [43]:
data_U_clean2.head()

,mal_id,name,score,type,episodes,aired,premiered,studios,source,duration,...,completed,on-hold,dropped,plan_to_watch,genres1,genres2,genres3,genres4,genres5,rating_clean
0,1,Cowboy Bebop,8.78,TV,26,"Apr 3, 1998 to Apr 24, 1999",1998,Sunrise,Original,24 min. per ep.,...,718161,71513,26678,329800,Action,Adventure,Drama,Sci-Fi,Space,R
2,6,Trigun,8.24,TV,26,"Apr 1, 1998 to Sep 30, 1998",1998,Madhouse,Manga,24 min. per ep.,...,343492,25465,13925,146918,Action,Sci-Fi,Comedy,Drama,Shounen,PG-13
3,7,Witch Hunter Robin,7.27,TV,26,"Jul 2, 2002 to Dec 24, 2002",2002,Sunrise,Original,25 min. per ep.,...,46165,5121,5378,33719,Action,Mystery,Supernatural,Drama,Magic,PG-13
4,8,Bouken Ou Beet,6.98,TV,52,"Sep 30, 2004 to Sep 29, 2005",2004,Toei Animation,Manga,23 min. per ep.,...,7314,766,1108,3394,Adventure,Fantasy,Supernatural,None,None,PG
6,16,Hachimitsu to Clover,8.06,TV,24,"Apr 15, 2005 to Sep 27, 2005",2005,J.C.Staff,Manga,23 min. per ep.,...,81145,11901,11026,98518,Comedy,Drama,Romance,Slice of Life,None,PG-13

# 1. Which is the years during which the 10 most favorite animes were aired?

I will consider only anime series so type=TV

In [44]:
data_U_clean2.type
print(data_U_clean2.type.unique())

data1_TV = data_U_clean2[data_U_clean2['type']== 'TV']
data1_TV.type
#We actually do not need to select beacuse apparently all the other not TV type were dropped with the Unknown values.

['TV']

0        TV
2        TV
3        TV
4        TV
6        TV
         ..
17066    TV
17126    TV
17165    TV
17173    TV
17469    TV
Name: type, Length: 2360, dtype: object

In [45]:
data1_TV[['aired']]

                              aired
0       Apr 3, 1998 to Apr 24, 1999
2       Apr 1, 1998 to Sep 30, 1998
3       Jul 2, 2002 to Dec 24, 2002
4      Sep 30, 2004 to Sep 29, 2005
6      Apr 15, 2005 to Sep 27, 2005
...                             ...
17066  Oct 11, 2020 to Dec 20, 2020
17126             Jan 10, 2021 to ?
17165             Jan 10, 2021 to ?
17173             Jan 10, 2021 to ?
17469             Jan 12, 2021 to ?

[2360 rows x 1 columns]

in the column aired there is a lot of etherogeneity in the columns value. I will try to organize this column in this way:

-clean the aired column
-make two columns for "aired_start" and "aired_stop"
-delate the "aired" original column
-check for NaN value and unusual values. Clean the columns from these values.
-make the two new columns as date type and select the years for "aired_start" and "aired_stop"

In [46]:
data1_TV[['aired']].value_counts()

aired
Oct 5, 2016 to Dec 21, 2016     9
Jan 8, 2016 to Mar 25, 2016     6
Oct 8, 2017 to Dec 24, 2017     6
Jan 12, 2018 to Mar 30, 2018    6
Apr 7, 2017 to Jun 23, 2017     6
                               ..
Jan 13, 2012 to Mar 30, 2012    1
Jan 13, 2012 to Jan 27, 2012    1
Jan 13, 2006 to Feb 24, 2006    1
Jan 13, 1991 to Dec 28, 1991    1
Sep 8, 2006 to Nov 24, 2006     1
Length: 1851, dtype: int64

1-clean the aired column from Unkown values.

In [47]:
data1_TV['airedUnknown']=data1_TV[['aired']]=='Unknown'
data1_TV[['airedUnknown']]
data1_TV.head(2)

,mal_id,name,score,type,episodes,aired,premiered,studios,source,duration,...,on-hold,dropped,plan_to_watch,genres1,genres2,genres3,genres4,genres5,rating_clean,airedUnknown
0,1,Cowboy Bebop,8.78,TV,26,"Apr 3, 1998 to Apr 24, 1999",1998,Sunrise,Original,24 min. per ep.,...,71513,26678,329800,Action,Adventure,Drama,Sci-Fi,Space,R,False
2,6,Trigun,8.24,TV,26,"Apr 1, 1998 to Sep 30, 1998",1998,Madhouse,Manga,24 min. per ep.,...,25465,13925,146918,Action,Sci-Fi,Comedy,Drama,Shounen,PG-13,False

In [48]:
data1_TV.drop(data1_TV[data1_TV['airedUnknown'] == True].index, inplace = True)
data2 = pd.DataFrame(data=data1_TV)

In [49]:
#pd.set_option('display.max_rows', None)

In [50]:
data2[['aired']].value_counts()

aired
Oct 5, 2016 to Dec 21, 2016     9
Jan 8, 2016 to Mar 25, 2016     6
Oct 8, 2017 to Dec 24, 2017     6
Jan 12, 2018 to Mar 30, 2018    6
Apr 7, 2017 to Jun 23, 2017     6
                               ..
Jan 13, 2012 to Mar 30, 2012    1
Jan 13, 2012 to Jan 27, 2012    1
Jan 13, 2006 to Feb 24, 2006    1
Jan 13, 1991 to Dec 28, 1991    1
Sep 8, 2006 to Nov 24, 2006     1
Length: 1851, dtype: int64

2-make two columns for "aired_start" and "aired_stop" from the column "aired".

In [51]:
# new data frame with split value columns
new = data2["aired"].str.split("to", n = 1, expand = True)
# making separate first name column from new data frame
data2['aired_start']= new[0]
# making separate last name column from new data frame
data2["aired_stop"]= new[1]

In [52]:
data2[['aired', 'aired_start',"aired_stop"]]

                              aired    aired_start     aired_stop
0       Apr 3, 1998 to Apr 24, 1999   Apr 3, 1998    Apr 24, 1999
2       Apr 1, 1998 to Sep 30, 1998   Apr 1, 1998    Sep 30, 1998
3       Jul 2, 2002 to Dec 24, 2002   Jul 2, 2002    Dec 24, 2002
4      Sep 30, 2004 to Sep 29, 2005  Sep 30, 2004    Sep 29, 2005
6      Apr 15, 2005 to Sep 27, 2005  Apr 15, 2005    Sep 27, 2005
...                             ...            ...            ...
17066  Oct 11, 2020 to Dec 20, 2020  Oct 11, 2020    Dec 20, 2020
17126             Jan 10, 2021 to ?  Jan 10, 2021               ?
17165             Jan 10, 2021 to ?  Jan 10, 2021               ?
17173             Jan 10, 2021 to ?  Jan 10, 2021               ?
17469             Jan 12, 2021 to ?  Jan 12, 2021               ?

[2360 rows x 3 columns]

Drop the column "aired"

In [53]:
data2=data2.drop(['aired'], axis=1)
data2.head()

,mal_id,name,score,type,episodes,premiered,studios,source,duration,ranked,...,plan_to_watch,genres1,genres2,genres3,genres4,genres5,rating_clean,airedUnknown,aired_start,aired_stop
0,1,Cowboy Bebop,8.78,TV,26,1998,Sunrise,Original,24 min. per ep.,28.0,...,329800,Action,Adventure,Drama,Sci-Fi,Space,R,False,"Apr 3, 1998","Apr 24, 1999"
2,6,Trigun,8.24,TV,26,1998,Madhouse,Manga,24 min. per ep.,266.0,...,146918,Action,Sci-Fi,Comedy,Drama,Shounen,PG-13,False,"Apr 1, 1998","Sep 30, 1998"
3,7,Witch Hunter Robin,7.27,TV,26,2002,Sunrise,Original,25 min. per ep.,2481.0,...,33719,Action,Mystery,Supernatural,Drama,Magic,PG-13,False,"Jul 2, 2002","Dec 24, 2002"
4,8,Bouken Ou Beet,6.98,TV,52,2004,Toei Animation,Manga,23 min. per ep.,3710.0,...,3394,Adventure,Fantasy,Supernatural,None,None,PG,False,"Sep 30, 2004","Sep 29, 2005"
6,16,Hachimitsu to Clover,8.06,TV,24,2005,J.C.Staff,Manga,23 min. per ep.,468.0,...,98518,Comedy,Drama,Romance,Slice of Life,None,PG-13,False,"Apr 15, 2005","Sep 27, 2005"

Check for NaN values

In [54]:
data2['aired_start'].value_counts()
data2['aired_start'].isna().sum()

0

In [55]:
data2['aired_stop'].value_counts()
data2['aired_stop'].isna().sum()

3

"aired_stop" has a lot and I will drop the rows with NaN values relative to aired_stop.

In [56]:
data4 = data2[data2['aired_stop'].isna() == False]
data4['aired_stop'].isna().sum()

0

In [57]:
data4[['aired_start',"aired_stop"]]

         aired_start     aired_stop
0       Apr 3, 1998    Apr 24, 1999
2       Apr 1, 1998    Sep 30, 1998
3       Jul 2, 2002    Dec 24, 2002
4      Sep 30, 2004    Sep 29, 2005
6      Apr 15, 2005    Sep 27, 2005
...              ...            ...
17066  Oct 11, 2020    Dec 20, 2020
17126  Jan 10, 2021               ?
17165  Jan 10, 2021               ?
17173  Jan 10, 2021               ?
17469  Jan 12, 2021               ?

[2357 rows x 2 columns]

I want to remouve the rows that has a "?" like 17561. They use the ? probaby because the anime is still aired. So I can either exlude this value dropping the rows with ? or substitute the ? with the date of today. I will do the second one.

In [58]:
def money(text):
    return text.replace(" ?", "May 30, 2022")

data4 = data4.copy()
for col in data4.columns:
    data4['aired_stop'] = data4['aired_stop'].apply(money)
    

data4[['aired_start',"aired_stop"]]

         aired_start     aired_stop
0       Apr 3, 1998    Apr 24, 1999
2       Apr 1, 1998    Sep 30, 1998
3       Jul 2, 2002    Dec 24, 2002
4      Sep 30, 2004    Sep 29, 2005
6      Apr 15, 2005    Sep 27, 2005
...              ...            ...
17066  Oct 11, 2020    Dec 20, 2020
17126  Jan 10, 2021    May 30, 2022
17165  Jan 10, 2021    May 30, 2022
17173  Jan 10, 2021    May 30, 2022
17469  Jan 12, 2021    May 30, 2022

[2357 rows x 2 columns]

In [59]:
#In alternative, to drop the ?
#first I check exectly the value of the rows to remove
#data4.loc[17561,'aired_stop']
#then I remove
#data4.drop(data4[data4['aired_stop'] == ' ?'].index, inplace = True)

#you can also use this way: filter only the rows that have not ? in aired_stop
#data4[data4['aired_stop'] != ' ?']

#data5 = pd.DataFrame(data=data4)
#data5[['aired_start',"aired_stop"]]

3-Now I will convert in datapyte aired_start and stop

In [81]:
data5 = data4

In [82]:
#make aired start and stop as datatipe to select only the year
data5['aired_start'] = pd.to_datetime(data4['aired_start'], errors='coerce')
data5[['aired_start']]

      aired_start
0      1998-04-03
2      1998-04-01
3      2002-07-02
4      2004-09-30
6      2005-04-15
...           ...
17066  2020-10-11
17126  2021-01-10
17165  2021-01-10
17173  2021-01-10
17469  2021-01-12

[2357 rows x 1 columns]

In [83]:
data5['aired_stop'] = pd.to_datetime(data4['aired_stop'], errors='coerce')
data5[['aired_stop']]
#data5[['aired_stop']].value_counts()

      aired_stop
0     1999-04-24
2     1998-09-30
3     2002-12-24
4     2005-09-29
6     2005-09-27
...          ...
17066 2020-12-20
17126 2022-05-30
17165 2022-05-30
17173 2022-05-30
17469 2022-05-30

[2357 rows x 1 columns]

In [84]:
#then select in a new colun only the start year and end year
data5['aired_start_y']=data5.aired_start.apply(lambda x: x.year)
data5[['aired_start_y']]

       aired_start_y
0               1998
2               1998
3               2002
4               2004
6               2005
...              ...
17066           2020
17126           2021
17165           2021
17173           2021
17469           2021

[2357 rows x 1 columns]

In [85]:
data5['aired_stop_y']=data5.aired_stop.apply(lambda x: x.year)
data5[['aired_stop_y']]

       aired_stop_y
0              1999
2              1998
3              2002
4              2005
6              2005
...             ...
17066          2020
17126          2022
17165          2022
17173          2022
17469          2022

[2357 rows x 1 columns]

Could be usefull to get the airing_time. To know how long the anime was availabe to be watched.

In [86]:
#select the anime that was aired for longer time. 
data5['airing_time_days']= (data5['aired_stop'])-(data5['aired_start'])
data5[['airing_time_days']]

      airing_time_days
0             386 days
2             182 days
3             175 days
4             364 days
6             165 days
...                ...
17066          70 days
17126         505 days
17165         505 days
17173         505 days
17469         503 days

[2357 rows x 1 columns]

In [87]:
#I will split airing_time, keep only the number and convert in numerical.

In [88]:
data5.dtypes

mal_id                        int64
name                         object
score                       float64
type                         object
episodes                      int64
premiered                     int64
studios                      object
source                       object
duration                     object
ranked                      float64
popularity                    int64
members                       int64
favorites                     int64
watching                      int64
completed                     int64
on-hold                       int64
dropped                       int64
plan_to_watch                 int64
genres1                      object
genres2                      object
genres3                      object
genres4                      object
genres5                      object
rating_clean                 object
airedUnknown                   bool
aired_start          datetime64[ns]
aired_stop           datetime64[ns]
aired_start_y                 int64
aired_stop_y                  int64
airing_time_days    timedelta64[ns]
dtype: object

In [116]:
data5['airing_time_d']=pd.Timedelta.days
data5['airing_time_d']


#data5['airing_time_days'].astype(int)
#data5['airing_time_days']=data5['airing_time_days'].replace('days', '')
#data5['airing_time_days']

0        <member 'days' of 'datetime.timedelta' objects>
2        <member 'days' of 'datetime.timedelta' objects>
3        <member 'days' of 'datetime.timedelta' objects>
4        <member 'days' of 'datetime.timedelta' objects>
6        <member 'days' of 'datetime.timedelta' objects>
                              ...
17066    <member 'days' of 'datetime.timedelta' objects>
17126    <member 'days' of 'datetime.timedelta' objects>
17165    <member 'days' of 'datetime.timedelta' objects>
17173    <member 'days' of 'datetime.timedelta' objects>
17469    <member 'days' of 'datetime.timedelta' objects>
Name: airing_time_d, Length: 2357, dtype: object

In [90]:
#data5['airing_time_days'] = pd.to_numeric(data5['airing_time_days'])
#data5.dtypes

In [92]:
data5.columns

Index(['mal_id', 'name', 'score', 'type', 'episodes', 'premiered', 'studios',
       'source', 'duration', 'ranked', 'popularity', 'members', 'favorites',
       'watching', 'completed', 'on-hold', 'dropped', 'plan_to_watch',
       'genres1', 'genres2', 'genres3', 'genres4', 'genres5', 'rating_clean',
       'airedUnknown', 'aired_start', 'aired_stop', 'aired_start_y',
       'aired_stop_y', 'airing_time_days'],
      dtype='object')

In [93]:
#data5['airing_t_vs_duration']= (data5['airing_time'])/(data5['episodes'])
#data5[['airing_t_vs_duration']]

In [ ]:
data5_anime_vs_airing=data5[['mal_id','name','score','popularity','episodes','aired_start','aired_stop','aired_start_y','aired_stop_y','airing_time',]]
data5_anime_vs_airing.head()

In [ ]:
data5[['score']].value_counts()

In score I have many anime for which there is no score so I drop the Unknown rows

In [ ]:
data5.drop(data5[data5['score'] == 'Unknown'].index, inplace = True)
data5 = pd.DataFrame(data=data5)
data5[['score']].value_counts()

In [ ]:
data_TV =data5[data5['type']== "TV"] 
data_TV

In [ ]:
data_TV_sel=data_TV
data_TV_sel.head()

Now I will sort for the years in which I have the most scored favorite and popular anime.

In [ ]:
#In which years I have the 5 most scored anime
Years_scored = data_TV.sort_values(by=['score'], ascending = False)
Years_scored_top5 = Years_scored.iloc[[0,1,2,3,4],:]
Years_scored_top5
Years_scored_top5[['name','aired_start_y','score']]

In [ ]:
list(Years_scored_top5['aired_start_y'])
print("The top5 scored anime are:", list(Years_scored_top5['name']))
print("The years in which the most scored anime started to be aired are:", list(Years_scored_top5['aired_start_y']))

In [ ]:
#In which years I have the 5 most favorite anime
Years_favorites = data_TV.sort_values(by=['favorites'], ascending = False)
Years_favorites_top5 = Years_scored.iloc[[0,1,2,3,4],:]
Years_favorites_top5
Years_favorites_top5[['name','aired_start_y','favorites']]

In [ ]:
list(Years_favorites_top5['aired_start_y'])
print("The top5 scored anime are:", list(Years_favorites_top5['name']))
print("The years in which the most scored anime started to be aired are:", list(Years_favorites_top5['aired_start_y']))

In [ ]:
#In which years I have the 10 most popular anime
Years_popularity= data_TV.sort_values(by=['popularity'], ascending = False)
Years_popularity_top5 = Years_popularity.iloc[[0,1,2,3,4],:]
Years_popularity_top5.head()
Years_popularity_top5[['name','aired_start_y','popularity']]

In [ ]:
list(Years_popularity_top5['aired_start_y'])
print("The top5 popular anime are:", list(Years_popularity_top5['name']))
print("The years in which the most popular anime started to be aired are:", list(Years_popularity_top5['aired_start_y']))

# In the database the animes (TV) are defined by score, popularity and favorites. Score and favorites appeared to be correlated since the Top5 between score and favorites are the same. Popularity and the oter two not. To better visualize the data I will make a PCA plot considering the thee paramether to define how succefull the anime is accoridng to all of them

In [ ]:
import sklearn
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

data5.type
data5 = data5.reset_index(drop=True)
data5

In [ ]:
data_PCA= data5[['score','popularity','favorites']]
data_PCA

In [ ]:
scaler = MinMaxScaler()
scaler.fit(data_PCA)
data_PCA_scaled = pd.DataFrame(scaler.transform(data_PCA), columns=data_PCA.columns)

In [ ]:
pca = PCA(n_components=3)
X_r = pca.fit(data_PCA_scaled).transform(data_PCA_scaled)

# Percentage of variance explained for each components
print(
    "explained variance ratio (first three components): %s"
    % str(pca.explained_variance_ratio_))

In [ ]:
X_r[:,0]

In [ ]:
data_PCA_scaled['rating_tot'] = X_r[:,0]
data_PCA_scaled[['rating_tot']]

In [ ]:
data5_rating_tot = pd.concat([data5, data_PCA_scaled], axis=1)
data5_rating_tot.head()

In [ ]:
data_PCA_scaled_plot=pd.DataFrame(X_r,columns=['PCA0', 'PCA1', 'PCA2'])
data_PCA_scaled_plot.head()

In [ ]:
def plot3D(x, y, z, color, fraction=1):
    """
    This function plots the x,y,z values in 3D
    color => color array for each value
    fraction => fraction of the data for visualization
    """
    data = pd.DataFrame({0: x, 1: y, 2: z, 3: color})
    data = data.sample(frac=fraction)

    x = data[0]
    y = data[1]
    z = data[2]
    color = data[3]

    sns.set_style("whitegrid", {'axes.grid': False})

    fig = plt.figure(figsize=(6, 6))

    ax = fig.add_subplot(111, projection='3d')  # Method 2

    ax.scatter(x, y, z, c=color, marker='o')
    ax.set_xlabel('X Label')
    ax.set_ylabel('Y Label')
    ax.set_zlabel('Z Label')

    plt.show()

In [ ]:
%matplotlib notebook
plot3D(data_PCA_scaled_plot['PCA0'],
       data_PCA_scaled_plot['PCA1'],
       data_PCA_scaled_plot['PCA2'],
       data_PCA_scaled_plot['PCA0'],
      1)

In [ ]:

# Plot initialisation
import matplotlib.pyplot as plt
#data4['name']=pd.Categorical(data4['name'])
# to select data_PCA_scaled_plot_sel=data_PCA_scaled_plot.sample(1000)

my_color=data_PCA_scaled_plot['PCA0']
fig = plt.figure(figsize=(30,10))



ax = fig.add_subplot(111, projection='3d')
ax.scatter(data_PCA_scaled_plot['PCA0'], data_PCA_scaled_plot['PCA1'], data_PCA_scaled_plot['PCA2'], c=my_color, s=60)

# make simple, bare axis lines through space:
xAxisLine = ((min(data_PCA_scaled_plot['PCA0']), max(data_PCA_scaled_plot['PCA0'])), (0, 0), (0,0))
ax.plot(xAxisLine[0], xAxisLine[1], xAxisLine[2], 'r')
yAxisLine = ((0, 0), (min(data_PCA_scaled_plot['PCA1']), max(data_PCA_scaled_plot['PCA1'])), (0,0))
ax.plot(yAxisLine[0], yAxisLine[1], yAxisLine[2], 'r')
zAxisLine = ((0, 0), (0,0), (min(data_PCA_scaled_plot['PCA2']), max(data_PCA_scaled_plot['PCA2'])))
ax.plot(zAxisLine[0], zAxisLine[1], zAxisLine[2], 'r')
 
# label the axes
ax.set_xlabel("PC0")
ax.set_ylabel("PC1")
ax.set_zlabel("PC2")
ax.set_title("PCA on Anime dataset")
plt.show()

CONCLUSIONS: I will use



# now I want to know if the first 5 most scored anime are among the high medium or short aring time and the lenght (episodes). So I do a binn.

In [ ]:
#I will use thi slice
data.head()
data_binn = data_PCA[['mal_id', 'name', 'score_tot', 'episodes', 'aired_start_y','aired_stop_y','airing_time',]]
data_binn.head()

In [ ]:
#I will do BINNING for airing time
airing_time_labels = ['short', 'medium', 'long', 'very_long']
#I will use Qcat to have class imbalance


data5_anime_vs_airing['airing_time_category'] = pd.qcut(data5_anime_vs_airing['airing_time'],4,labels=airing_time_labels)
data5_anime_vs_airing['airing_time_category'].value_counts()

In [ ]:
Anime_vs_airing_cat= data5_anime_vs_airing.sort_values(by=['score'], ascending = False)
Anime_vs_airing_cat_top5 = Anime_vs_airing_cat.iloc[[0,1,2,3,4],:]
Anime_vs_airing_cat_top5
Anime_vs_airing_cat_top5[['name','aired_start_y','score','airing_time_category']]

In [ ]:
AnimePop_vs_airing_cat= data5_anime_vs_airing.sort_values(by=['popularity'], ascending = False)
AnimePop_vs_airing_cat_top5 = AnimePop_vs_airing_cat.iloc[[0,1,2,3,4],:]
AnimePop_vs_airing_cat_top5
AnimePop_vs_airing_cat_top5[['name','aired_start_y','popularity','airing_time_category']]

In [ ]:
#concert score and episodes in numerical 
data5_anime_vs_airing['score'] = pd.to_numeric(data5_anime_vs_airing['score'])
print(data5_anime_vs_airing.dtypes)

In [ ]:
sns.displot(data5_anime_vs_airing['score'], bins=20)
sns.displot(data5_anime_vs_airing['airing_time_category'], bins=20)

In [ ]:
data5_anime_vs_airing_very_long = data5_anime_vs_airing[data5_anime_vs_airing['airing_time_category']=='very_long']
data5_anime_vs_airing_very_long

In [ ]:
fig, ax = plt.subplots(2,2,figsize=(15,10))
sns.histplot(x='score', hue='airing_time_category', data=data5_anime_vs_airing, ax=ax[0,0])
sns.histplot(x='popularity', hue='airing_time_category', data=data5_anime_vs_airing, ax=ax[0,1])
sns.histplot(x='score', hue='airing_time_category', data=data5_anime_vs_airing_very_long, ax=ax[1,0])
sns.histplot(x='popularity', hue='airing_time_category', data=data5_anime_vs_airing_very_long, ax=ax[1,1])
plt.show()
# It appears that the most popular and scored are the very long, also the short ones are the lass popular. bit Not the less scored.

In [ ]:
# it´s independed by the lenght

In [ ]:
sns.histplot(x='score', hue='episodes', data=data5_anime_vs_airing, ax=ax[0,0])

#sns.histplot(x='popularity', hue='episodes', data=data5_anime_vs_airing, ax=ax[0,1])

In [ ]:
data5.head()

In [ ]:
data5['score'] = pd.to_numeric(data5['score'])
print(data5.dtypes)

In [ ]:
data5[['type']].value_counts()

START analysis on MOVIES only

In [ ]:
data_movies =data5[data5['type']== "Movie"]

In [ ]:
data_movies.head()

In [ ]:
data_movies_drop=data_movies.drop(columns=['airedUnknown', 'source', 'licensors','premiered','english_name', 'on-hold'], axis=1)
display(data_movies_drop.head())
data_movies_drop.shape

In [ ]:
data_movies_drop.columns

In [ ]:
data_movies_drop['studios'].value_counts()

In [ ]:
data_movies_drop['producers'].value_counts()

In [ ]:
#since so many Unknown in droducers I drop it
data_movies_drop=data_movies_drop.drop(columns=['producers'], axis=1)
display(data_movies_drop.head())
data_movies_drop.shape

In [ ]:
Top_scored_movies= data_movies_drop.sort_values(by=['score'], ascending = False)
Top_scored_movies[['name']]
Top_scored_movies = Top_scored_movies.iloc[[0,1,2,3,4],:]
Top_scored_movies
Top_scored_movies[['name','score','completed','dropped','favorites']]

In [ ]:
sns.barplot(x="score", y="completed", data=Top_scored_movies)
plt.show()
sns.barplot(x="score", y="dropped", data=Top_scored_movies)
plt.show()
#scored anime top5 according to the number of users that finished it

In [ ]:
Top_scored_movies= data_movies_drop.sort_values(by=['popularity'], ascending = False)
Top_scored_movies[['popularity']]
Top_scored_movies = Top_scored_movies.iloc[[0,1,2,3,4],:]
Top_scored_movies
Top_scored_movies[['name','score', 'completed']]

In [ ]:
sns.relplot(data=data_movies_drop, x="score", y="popularity")

In [ ]:
sns.displot(data_movies_drop['score'], bins=20)
sns.displot(data_movies_drop['popularity'], bins=20)
data_movies_drop['score'].unique()
data_movies_drop['popularity'].unique()

In [ ]:
# studios that are most successfull --> filter
# model to predict the most succesfull studios? 
# anime raccomandation?
# predict the anime that can be likely that is higher scored or popular?

In [ ]:
#SPLIT genres

In [ ]:
# new data frame with split value columns
new = data_movies_drop["genres"].str.split(",", n = -1, expand = True)
# making separate first name column from new data frame
data_movies_drop['genres1']= new[0]
# making separate last name column from new data frame
data_movies_drop["genres2"]= new[1]
data_movies_drop["genres3"]= new[3]

In [ ]:
data_movies_drop

In [ ]:
data_movies_drop['genres1'].value_counts()

In [ ]:
data_movies_drop_sel= data_movies_drop[(data_movies_drop['genres1']=='Comedy') or (data_movies_drop['genres2']=='Comedy')]

In [ ]:
data_movies_drop_sel